html,
body {
    margin: 0;
    overflow-x: hidden;
}

body {
    color: #703838;
    margin: auto;
    font-family: "Gugi", sans-serif;
}

.background {
    min-height: 100vh;
    background-image: url("Assets/Background Image/Sailor_Moon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow-x: hidden;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    gap: 3rem;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 900px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }

    .side {
        width: 100%;
        align-items: center;
    }

    #timer-display {
        font-size: 120px;
    }
}


/* TIMER STYLES */
.timer {
    text-align: center;
}

#timer-display {
    font-size: 200px;
    margin: auto;
}

#timer-button {
    font-family: "Gugi", sans-serif;
    background-color: #FDE3BF;
    font-size: 40px;
    color: #703838;
    height: 75px;
    width: 28rem;
    margin-top: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    max-width: 90vw;
    border: none;
}




/* AVATAR GROWING BOX STYLES */
.avatar,
.tasks {
    background-color: #EDCEBE;
    width: 350px;
    max-width: 90vw;
    border-radius: 30px;
    text-align: center;
}

.avatar {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar-name {
    color: #703838;
    font-size: 2rem;
    font-family: "Gugi", sans-serif;
    padding-top: 20px;
}

.progress-bar {
    width: 270px;
    height: 25px;
    background-color: #F4BA7A;
    border-radius: 30px;

    display: flex;
    align-items: center;      /* vertical center */
    justify-content: left;  /* horizontal center */

    font-family: "Gugi", sans-serif;
    font-size: 0.9rem;
}

.progress-bar-fill {
    width: 0;
    height: 25px;
    background-color: #F08571;
    border-radius: 30px;

    transition: all 0.3s;

    display: flex;
    align-items: center;      /* vertical center */
    justify-content: right;  /* horizontal center */
}




/* TASKLIST BOX STYLES */
.tasks {
    height: 350px;
}